
body{
padding-left: : 4em;
padding-right: 3em;
}
header img {
     width: 100px;
     height: 70px;

}


#list-inline  a{
  position: relative;
  left: -150%;
  top: 50%
}
.navbar-secondary{
  position: relative;
  left: 30%;
}

.lil{
  font-size: 18px;
}

.heading{

}

#wrapper{
  background-image: url("../images/sheisthecode.jpg");
  width: 1200px;
  height: 400px;
}


.navbar-secondary img{
  position: relative;
  left: -20%;
}
.navbar-secondary a{
  font-size: 16px;
  color: #95a5a6;
  position: relative;
  left: : 105%;
  padding-left: 3%;
  top: 20%;
}


.btn-default{
	color: black;
  background-color: white;
  border-color: #ccc;
  position: relative;
  left: 95%;
  top:40%;
}

.btn-default:hover {
	color: white;
  background-color: #5cb85c; 
  border-color: #8c8c8c;
}

.btn-success {
  
   color: white
   background-color: rgb(151,239,19);
   font-weight: 500px; 
   padding: 20px;
   margin: 10px;
   border-radius: 3px;
   border: 1px solid black;
   font-size: 14px;
   position: relative;
   width: 300px;
   height: 55px;
}

.btn-success:hover {
  color: #fff;
  background-color: #449d44;

  }
  #btn-default{
    color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
  position: relative;
  left: 30%;
  max-width: 1000px;
  width: 500px
  min-height: 100px;

 
}

#btn-default:hover{
  color: white;
  background-color: #5cb85c;
}

#top-container{
  background-color: white;
  color: black;
  width: 950px;
  min-height: 150px;
  border-style: none;
  border-color: white;


}
 

 
  #img-profile{
    width: 130px;
    height: 90px;
    border: 2px;
    position: relative;
    left:  20%;
  }

   h1{
    color: rgb(13,131,224);
    text-orientation: left;
    font-size: 30px;
    left: 5%;
   }



  h2{

    color: rgb(13,131,224);
    font-size: 1.7em;

  }


  h3{
    color: rgb(13,131,224);
  }



p{
  font-size: 16px;
  

}



.sig{
background-color: rgba(13,131,224,0.2);
height: 500px;
padding: 10px;
}

.sig img{
  position: relative;
  width: 550px;
  padding-left: 2em;
}
  




nav ul{
  list-style: none;
  margin: 0;
  padding: 0;

}

nav ul li{
 
 display: inline-block;
  font-size: 16px;
  color: black;
  right:  20%;
  width: 95px;


}


a{
  display: inline-block;
  font-size: 10px;
}

aside{
background-color: #EAF4F6;
}

.son{
  width: 2000px;
  height: 100px;
  border-radius: 5px;
  border: 3px solid #cccccc;
  padding: 15px;
  text-align: inherit;
  text-underline-position: right;
}

.btn-white{

  color:black;
  font-weight: 500px; 
  padding: 10px;
  margin: 8px;
  border-radius: 3px;
  border: 3px solid #cccccc;
  font-size: 16px;
   position: relative;
   left: 20%;
}

.btn-white:hover{
 background-color: rgb(89,159,228);
 color: white;


}


.list-inline ul li
img{
  display: inline-block;
  padding: 1em; 
  font-size: 15px;
  /*width: 100px;*/

}

.list-inline a{

  display: inline-block;
  padding: 20px;
  font-size: 15px;
  color: black;

}

.der{
  display: inline-block;
  font-size: 20px;
}
.des{
  text-align: center;
  padding-left: 1em;
}

.fer{
  position: relative;
  left: 3%;
}

.duo{
  color:black;
  font-weight: 500px; 
  padding-left:  2em;
  border-radius: 3px;
  border: 3px solid #cccccc;
  font-size: 14px;
   position: relative;
   width: 190px;
   height: 65px;
}


.duo:hover{
color: white;
background-color: rgb(13,131,221);
}

.dic{
  position:relative;
  padding-left: 2em;
  height: 270px;
}



.olo{
  position: relative;
  left: 7%;
}


.bnj{
  position: relative;
  left: 7%;
  padding-left: 4em;
}


.container{
  position: relative;
  width: 900px;
  height: 90px;
  border: solid;
  border-radius: 3px;
  text-align: center;
  top: 2%;
  bottom: 2%;
}

.soso{
  width: 1000px;
  height: 300px;
  border: 2px;
  background-color: #0D83DD;
  position: relative;
  padding-left: 7em;
}

.sec{
  color: white;
  position: relative;
  left: 5%;
  font-size: 25px;

}
.ful{
  position: relative;
  left: 8%;
  width: 190;
  height: 90;
  color: #f1c40f;
  background-color: #2980b9;
}

.tou{
  position: relative;
  top: 150px;
  left:-7%;

}
.tou0{
  position:relative;
  top: -20px;
  left:53%;

}
.tou1{
 position:relative;
  top: -20px;
  left:47%; 
}
.tou2{
   position:relative;
  top: -20px;
  left:40%;
}
.tou3{
   position:relative;
  top: -20px;
  left:35%;
}
.tou4{
  position:relative;
  top: -20px;
  left:30%;
}
.fos{
  color: #95a5a6;
}


.mam{

  width: 1000px;
  border-top: 1px;
  position: relative;

}
.ter{
  position: relative;
  right: -700px;
  bottom: -25px;
  top: 10px;

}
.tar{
  position: relative;
  bottom: -25px;
}


.sas{
  position: relative;
  left: 10%;
  top: 20%;
  
}

.navbar{
  position: relative;
  left: 60%;
  top: 30%.

  }
  
.wrapper{
  width: 100%;
  height: 25vh;
  
}

.cil{
  padding-left: 2em;
}

.sez{
  padding-left: 2em;
  position: relative;
  left: 20%;
}



.row{
  padding-left: 2em;
}